*   {
	box-sizing: border-box;
	}	

body{
	background-color: lemonchiffon;
	text-align: center;
	}




.question{
	border: 10px solid green;
	font-size: 50px;
	display: block;
	text-align: center;
	color: green;
	padding-bottom: 0px;
	}

.actualQuestion{
			font-size: 20px;
			border: 5px black;
			text-align: center;
			padding-bottom: 20px;
			}

button {

}

input{

}

input:hover{

}

button#begin:hover{
	background-color: green;

}

button#begin{
	font-family: cursive;
	font-size: 40px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	background-color: red;
	width: 240px;
	height: 75px;
	text-align: center;
}


input#resetDizzle  {
	text-align: center;
	font-family: cursive;
	font-size: 40px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	background-color: red;
	width: 500px;
	height: 75px;
		}

#resetDizzle:hover{
	background-color: yellow;
}

button#promptButton:hover{
	background-color: white;
}

button#promptButton {
	font-family: cursive;
	font-size: 40px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	background-color: red;
	width: 750px;
	height: 75px;
	text-align: center;
}

input#submitButton {
	border-radius: 20px;
	width: 100px;
	height: 40px;
	box-shadow: 10px 10px 5px grey;
}

input#textBox{
	font-size: 25px;
}

p  {
	font: green;
	}

body{
	background-color: lemonchiffon;
	text-align: center;

}

ul{
	 list-style-type: none;
}

li {
	margin: 3em 0em 0em 0em;
}

/* unvisited link */
a:link {
    color: #FF0000;
    text-decoration: none;
    background-color: #B2FF99;
}

/* visited link */
a:visited {
    color: #00FF00;
    text-decoration: none;
    background-color: #FFFF85;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
    text-decoration: underline;
    background-color: #FF704D;
}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: underline;
    background-color: #FF704D;
}

